<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>

</head>
<body>
    <header>
        <h1>Explore</h1>
        
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    <header>
    <div class="main">
        <h3>Mission Statement</h3>
        <img src="../static/images/MuseumPic.jpg" alt="Description of the image">
        <p>MonoMuse is dedicated to exploring the interection between art and nature, displaying the beauty of both the natural and human worlds.</p>
        <h3>Milestones</h3>
        <ul>
            <li>Has revolutionary exhibits</li>
            <li>Has award winning trails</li>
            <li>Portrays historic artworks like Rosie the Riveter</li>
            <li>Special Exhibits are greatly enjoyed and interacted with</li>
        </ul>
    </div>
    <footer> @MonoMuse 2026</footer>
</body>
</html>